<%- include('partials/header'); %>
<body>
    <%- include('partials/top_nav'); %>

<h1>Home page</h1>
<h2 style="margin: 16px 0;">Real-time chat with all your friends</h2>
<a href="/chat" class="btn landing-action">Go to chat</a>

<%- include('partials/footer'); %>