<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
</head>

<body>
    <form id="form" action="">
        <label>Username: </label>
        <input id="username" autocomplete="off" />
        <label>Password: </label>
        <input id="password1" autocomplete="off" /><button>Send</button>
        <label>Repeat Password: </label>
        <input id="password2" autocomplete="off" /><button>Send</button>
    </form>

</body>

</html>